---
title: Index
layout: layouts/default.njk
---

<div class="page">
  <main class="page-content">
    <h1>Angie</h1>

    <h2>Styleguide</h2>

    {% include "styleguide/links.njk" %}

    <h2>Components</h2>

    {% include "components/links.njk" %}
  </main>
</div>
