---
title: Index
layout: layouts/default.njk
---

<main style="padding: 1rem">
  <h1>Headstart</h1>

  <p style="font-size: 1.25rem">
    CSS foundation and common UI functionality for
    <nobr><b>Angie Design System</b></nobr> based products.
  </p>

  <ul>
    <li>works everywhere</li>
    <li>progressive enhancement</li>
  </ul>

  <h2>Patterns</h2>

  <h3>Form</h3>
  <ul>
    {%- for f in collections.form -%}
    <li>
      <a href="{{ f.url | url }}" style="color: blue">{{ f.data.title }}</a>
    </li>
    {%- endfor -%}
  </ul>

  <h3>Text</h3>
  <ul>
    {%- for f in collections.text -%}
    <li>
      <a href="{{ f.url | url }}" style="color: blue">{{ f.data.title }}</a>
    </li>
    {%- endfor -%}
  </ul>
  <h3>Styleguide</h3>
  <ul>
    {%- for styleguide in collections.styleguide -%}
    <li>
      <a
        href="{{ styleguide.url | url }}"
        style="color: black; text-decoration: none"
        >{{ styleguide.data.title }}</a
      >
    </li>
    {%- endfor -%}
  </ul>
</main>
