@font-face {
  font-family: Inter;
  src: url("/fonts/Inter-Light.woff2") format("woff2"),
    url("/fonts/Inter-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url("/fonts/Inter-Regular.woff2") format("woff2"),
    url("/fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url("/fonts/Inter-Medium.woff2") format("woff2"),
    url("/fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url("/fonts/Inter-SemiBold.woff2") format("woff2"),
    url("/fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url("/fonts/Inter-Bold.woff2") format("woff2"),
    url("/fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-sans: "BundesSansWeb", "Calibri", "Verdana", "Arial", "Helvetica",
    serif;
  --font-base: var(--font-sans);
  --font-styleguide: "Inter", "Arial", sans-serif;
}

html:focus-within {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
li,
p {
  max-width: 70ch;
}

ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: stretch;
  font-family: var(--font-base);
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  font-weight: bold;
}

h3 {
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: bold;
}

h4 {
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  font-weight: bold;
}

a {
  text-decoration: underline;
  color: currentcolor;
}

pre {
  margin-top: 1em;
  margin-bottom: 1em;
}

.page {
  display: flex;
  flex-grow: 1;
}

.page-sidebar {
  display: none;
  width: 10rem;
  padding: 1rem;
  flex-shrink: 0;
  background: var(--color-base-gray-400);

  @media (width >= 700px) {
    display: block;
  }
}

.page-content {
  padding: 1rem;
  flex-grow: 1;
}

.page-footer {
  border-top: 2px solid black;
  padding: 1rem;
}

.heading {
  color: #00f;
  font-family: var(--font-styleguide);
  font-weight: bold;
  font-size: 56px;
  line-height: 1.5;
}

.subheading {
  color: #00f;
  font-family: var(--font-styleguide);
  font-weight: bold;
  font-size: 24px;
  max-width: 800px;
}

.subheading-invers {
  color: #fff;
  background: #00f;
  font-family: var(--font-styleguide);
  font-weight: bold;
  font-size: 24px;
  padding: 0 4px;
}

.subsubheading {
  color: #000;
  font-family: var(--font-styleguide);
  font-weight: normal;
  font-size: 16px;
  max-width: 800px;
}

.section {
  padding: 2.25rem;
  margin-bottom: 2.75rem;

  &-grey {
    padding: 2.25rem;
    margin-bottom: 2.75rem;
    background-color: #fbfbfb;
  }
}

.introsection {
  padding-left: 2.25rem;
  padding-bottom: 2.25rem;
  max-width: 800px;
}

.sectionheading {
  color: #000;
  font-family: var(--font-styleguide);
  font-weight: bold;
  font-size: 24px;
  max-width: 800px;
}

.sectionsubheading {
  color: #000;
  margin-top: 2.75rem;
  font-family: var(--font-styleguide);
  font-weight: bold;
  font-size: 16px;
  max-width: 800px;
}

.persona {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.persona-header {
  display: flex;
  flex-flow: column nowrap;
  max-width: 660px;
}

.persona-description {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.6rem;
}

.persona-description-line {
  max-width: 4px;
  background-color: #7a7a7a;
  flex: 1;
}

.persona-description-content {
  max-width: 500px;
  flex: 1;
}

.persona-description-content-img {
  max-width: 400px;
  margin: 2rem;
  flex: 2;
}

.flex-row {
  display: flex;
  flex-direction: row;
  margin-top: 2.75rem;
  gap: 0.1rem;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 2.75rem;
  gap: 2rem;
}

.flex-table {
  display: flex;
  background: coral3;
}

.flex-row1 {
  flex: 2;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.flex-row2 {
  flex: 1;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.short {
  width: 600px;
}

.label-grey {
  color: #4e596a;
}

.mask1 {
  mask-image: url("/images/colorvector.svg");
  mask-repeat: no-repeat;
}

.example {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 330px;
  box-shadow: 5px 5px 10px 3px #eee;
}

.check {
  border-top: 3px solid green;
  background-color: green;
  max-width: 20px;
  max-height: 20px;
}

.do {
  border-top: 3px solid green;
  background-color: #fff;
}

.dont {
  border-top: 3px solid red;
  background-color: #bebebe;
}

.colorshapebox {
  width: 80px;
  height: 82px;
  margin-bottom: 8px;
}

.fontdefinitionbox {
  width: 208px;
  height: 160px;
  padding-left: 8px;
  padding-top: 16px;
  background-color: #fff;
  border-radius: 10px;
}

.colordefinitionbox {
  width: 96px;
  height: 160px;
  padding-left: 8px;
  padding-top: 16px;
  background-color: #fff;
}

.colorname {
  color: #000;
  font-weight: bold;
  font-size: 16px;
}

.hexvalue {
  color: #6f7785;
  font-weight: bold;
  font-size: 12px;
}
