version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "tuesday"
    assignees:
      - "joschka"
    open-pull-requests-limit: 10
    groups:
      patch-updates:
        update-types: ["patch"]
      storybook:
        patterns:
          - "@storybook/*"
          - storybook
    cooldown:
      default-days: 3
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
