{% macro radio(name, value, label, attrs) %} {% set id = name + value %}
<div>
  <input
    type="radio"
    name="{{name}}"
    value="{{value}}"
    id="{{id}}"
    class="ds-radio"
    {{attrs}}
  />
  <label for="{{id}}">{{label}}</label>
</div>
{% endmacro %}
