---
title: Angie
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} | Angie</title>
    <link rel="stylesheet" href="{{ '/dist/fonts.css' | url }}" />
    <link rel="stylesheet" href="{{ '/styleguide-fonts.css' | url }}" />
    <link rel="stylesheet" href="{{ '/index.css' | url }}" />
    <link rel="stylesheet" href="{{ '/docs.css' | url }}" />
    <link rel="stylesheet" href="{{ '/prism.css' | url }}" />
    <script src="{{ '/index.js' | url }}" defer async></script>
    <script src="{{ '/prism.js' | url }}"></script>
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>
