---
layout: layouts/default.njk
---

<div style="padding: 1rem; border-bottom: 2px solid black">
  <a href="{{ '/' | url }}" style="color: black; text-decoration: none"
    >&larr; Index</a
  >
</div>
<main style="padding: 1rem">{{ content | safe }}</main>
