---
tags: playground
title: Form components
layout: layouts/playground.njk
---

{% from "components/input.njk" import input %}
<h1>Form components</h1>
<h2>Radio buttons</h2>

<div class="stack" style="--stack-space: 0.5rem">
  <div>
    <input
      type="radio"
      name="radios"
      value="1"
      id="r0"
      class="ds-radio"
      checked
    />
    <label for="r0">Lorem ipsum 1</label>
  </div>

  <div>
    <input type="radio" name="radios" value="2" id="r1" class="ds-radio" />
    <label for="r1">Lorem ipsum 2</label>
  </div>

  <div>
    <input
      type="radio"
      name="radios"
      value="3"
      id="r2"
      class="ds-radio"
      disabled
    />
    <label for="r2">Lorem ipsum 3 (disabled)</label>
  </div>
</div>

<h2>Text Inputs</h2>
<div class="stack" style="--stack-space: 0.5rem">
  {{ input(name="input", value="Text", label="Lorem ipsum") }} {{
  input(name="input", value="Text", label="Text input readonly",
  attrs="readonly") }} {{ input(name="input", value="Text", label="Text input
  disabled", attrs="disabled") }}
</div>
