---
tags: playground
title: Webcomponent
layout: layouts/playground.njk
---
<h2>Character Count</h2>

<ds-character-count>
  <textarea>Lorem ipsum</textarea>
  <span data-count></span>
</ds-character-count>
