---
tags: styleguide
title: Colors
layout: layouts/styleguide.njk
---

{% import "macros.njk" as macros %}

<section class="section">
  <h2 class="heading">Colors</h2>
  <p class="subheading">
    Was machen Farben, Einsatz von Farben, kurzer Vermerk Accessibility und
    Farben. Es gibt <span class="subheading-invers">Primäre</span> und
    <span class="subheading-invers">Sekundäre</span>, hier im Spektrum
    aufgeführt. Warum brauchen wir das Spektrum?
  </p>
</section>

<section class="section">
  <h3 class="subheading">Primary Colors</h3>
  <p class="subsubheading">
    Kurze Beschreibung zum Einsatz von Accent Colors, vielleicht sogar in
    welchen Komponenten sie vorkommen? Kurze Beschreibung zum Einsatz von
    Primary Colors, vielleicht sogar in welchen Komponenten sie vorkommen?
  </p>
  <div class="flex-container">
    {% for color in colors.blue %} {{ macros.colorDefinition("blue " +
    color.name, color.hex) }} {% endfor %}
  </div>
  <div class="flex-container">
    {% for color in colors.yellow %} {{ macros.colorDefinition("yellow " +
    color.name, color.hex) }} {% endfor %}
  </div>
  <div class="flex-container">
    {% for color in colors.bw %} {{ macros.colorDefinition(color.name,
    color.hex) }} {% endfor %}
  </div>
</section>

<section class="section-grey">
  <h3 class="subheading">Accent Colors</h3>
  <p class="subsubheading">
    Kurze Beschreibung zum Einsatz von Accent Colors, vielleicht sogar in
    welchen Komponenten sie vorkommen? Kurze Beschreibung zum Einsatz von
    Primary Colors, vielleicht sogar in welchen Komponenten sie vorkommen?
  </p>
  <div class="flex-container">
    {% for color in colors.grey %} {{ macros.colorDefinition("grey " +
    color.name, color.hex) }} {% endfor %}
  </div>
  <div class="flex-container">
    {% for color in colors.red %} {{ macros.colorDefinition("red " + color.name,
    color.hex) }} {% endfor %}
  </div>
  <div class="flex-container">
    {% for color in colors.green %} {{ macros.colorDefinition("green " +
    color.name, color.hex) }} {% endfor %}
  </div>
</section>
<section class="section-grey">
  <h3 class="subheading">Einsatzgebiete Do's and Dont's</h3>
  <p class="subsubheading">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.
  </p>
  <div class="flex-container">
    <div class="example do center">
      <div class="check">Hey</div>
      <img src="../../dist/svg/dos_color_1.png" width="250px" height="250px" />
    </div>
    <div class="example dont center">
      <img src="../../dist/svg/dont_color_1.png" width="250px" height="250px" />
    </div>
  </div>
</section>
