---
tags: [component, form]
title: Text input
layout: layouts/sidebar.njk
---

<h2>Text input</h2>

<div class="ds-stack-24">
  <div>
    <label for="i0">Lorem ipsum</label>
    <input type="text" value="Text" id="i0" class="ds-input" />
  </div>

  <div>
    <label for="i4">Lorem ipsum (with placeholder)</label>
    <input type="text" id="i4" placeholder="Platzhalter" class="ds-input" />
  </div>

  <div>
    <label for="i1">Text input readonly</label>
    <input type="text" value="Text" id="i1" class="ds-input" readonly />
  </div>

  <div>
    <label for="i2">Text input disabled</label>
    <input type="text" value="Text" id="i2" class="ds-input" disabled />
  </div>

  <div>
    <label for="i3">Text input (with error)</label>
    <input type="text" value="Text" id="i3" class="ds-input has-error" />
  </div>

  <div>
    <label for="i5">Lorem ipsum (with placeholder and error)</label>
    <input
      type="text"
      id="i5"
      placeholder="Platzhalter"
      class="ds-input has-error"
    />
  </div>

  <div>
    <label for="im">Lorem ipsum (medium)</label>
    <input type="text" value="Text" id="im" class="ds-input ds-input-medium" />
  </div>

  <div>
    <label for="is">Lorem ipsum (small)</label>
    <input type="text" value="Text" id="is" class="ds-input ds-input-small" />
  </div>

  <div>
    <label for="prefix">Input with prefix</label>
    <div class="ds-input-group">
      <div class="ds-input-prefix">Prefix:</div>
      <input
        type="text"
        value="Text"
        id="prefix"
        class="ds-input ds-input-small has-error"
      />
    </div>
  </div>

  <div>
    <label for="suffix">Input with suffix</label>
    <div class="ds-input-group">
      <input type="text" value="Text" id="suffix" class="ds-input" />
      <div class="ds-input-suffix">€</div>
    </div>
  </div>
</div>
