---
tags: [component, form]
title: Radio button
layout: layouts/sidebar.njk
---

<h1>Radio button</h1>

<div class="stack" style="--stack-space: 0.5rem">
  <div>
    <input type="radio" name="radios" value="1" id="r0" checked />
    <label for="r0">Lorem ipsum 1</label>
  </div>

  <div>
    <input type="radio" name="radios" value="2" id="r1" />
    <label for="r1">Lorem ipsum 2</label>
  </div>

  <div>
    <input type="radio" name="radios" value="3" id="r2" disabled />
    <label for="r2">Lorem ipsum 3 (disabled)</label>
  </div>
</div>

<hr />

<script type="text/plain" class="language-markup">
  <input type="radio" id="r123" />
  <label for="r123">label text</label>
</script>
<p>Note: input and label must be adjacent and input must preceed label.</p>
<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/radio"
  >MDN Radio buttons</a
>
