---
tags: styleguide
title: Accessibility Persona - Simone
layout: layouts/sidebar.njk
---

{% import "macros.njk" as macros %}

<section class="section">
  <h2 class="heading">Accessibility Persona - Simone</h2>
  <h3 class="subheading">Simone Screenreader-Nutzerin</h3>
  <h4>Info und Geräte</h4>
  <p>
    Simone hat eine Sehbehinderung und in ihrer Jugend aufgrund einer
    genetischen Erkrankung den größten Teil ihres Sehvermögens verloren. Sie
    benutzt einen Screenreader, um Webinhalte lesen zu können. An drei
    Vormittagen in der Woche hat sie eine Hilfskraft an ihrem Arbeitsplatz, die
    ihr bei der Arbeit mit Papierdokumenten hilft. Sie benutzt JAWS seit etwa
    acht Jahren – ein Screenreader, das Text in Sprache umwandelt, damit blinde
    und sehbehinderte Menschen Webinhalte lesen können. Sie nutzt es auf einem
    Notebook bei der Arbeit und einem Windows-Desktop-Computer zu Hause. Vor
    JAWS benutzte sie ZoomText (eine Bildschirmlupe), aber das wurde zu
    schwierig, als ihre Sehkraft schlechter wurde.
  </p>
  <h4>Ziele und Wünsche</h4>
  <p>
    Simone möchte jede beliebige Website nutzen können. Außerdem möchte sie
    unabhängiger werden.
  </p>
  <h4>Frustration</h4>
  <p>
    Inhalte, die von JAWS nicht gelesen werden können: Wenn etwas auf einer
    Website mit Simones Screenreader nicht funktioniert, muss sie um Hilfe
    bitten, was sie als lästig empfindet.
  </p>
  <p>
    Ihr Screenreader kann Formulare nicht lesen, wenn sie nicht richtig
    beschriftet sind. Manchmal errät sie, was sie eingeben muss, aber das macht
    sie nicht, wenn es um finanzielle Transaktionen geht, weil das zu riskant
    ist.
  </p>
  <p>
    Inhalte, die schwer zu navigieren sind: Simone benutzt eine Tastatur
    anstelle einer Maus oder eines Trackpads und ärgert sich, wenn sie sich
    durch viele Seiten durchklicken muss, bevor sie zu den gesuchten Inhalten
    gelangt.
  </p>
  <p>
    Sie findet es schwierig, schnell zu erkennen, was auf einer Seite steht,
    wenn es keine guten Überschriften gibt.
  </p>
  <h4>Dinge für Simone besser machen</h4>
  <p>
    Testen, ob alle neuen Informationen, die auf dem Bildschirm erscheinen, von
    Screenreadern vorgelesen werden – dazu gehören Fehlermeldungen,
    Fortschritts- oder Bestätigungsmeldungen.
  </p>
  <p>
    An bewährte Verfahren für die barrierefreie Gestaltung von Formularen halten
    – wir sollten sicherstellen, dass Felder beschriftet sind und von
    Screenreadern gelesen werden können.
  </p>
  <p>
    Semantische Elemente in HTML5 wie &lt;main&gt;, &lt;nav&gt;, &lt;header&gt;
    verwenden, damit Nutzer*innen über Landmarks navigieren können.
  </p>
  <p>
    Überschriften, die Nutzer*innen helfen, Informationen schnell zu finden.
    Beschreibende Links und Seitentitel bereit stellen.
  </p>
</section>
