---
tags: styleguide
title: Accessibility Persona - Christopher
layout: layouts/sidebar.njk
---

{% import "macros.njk" as macros %}

<section class="section">
  <div class="persona">
    <div class="persona-header">
      <a href="./../accessibility/"
        ><span class="material-symbols-outlined">arrow_back</span>back</a
      >
      <h2 class="heading">a11y Persona - Christopher</h2>
      <h3 class="subheading">
        Christopher - Nutzer mit rheumatoider Arthritis
      </h3>
      <div class="persona-description">
        <div class="persona-description-line"></div>
        <div class="persona-description-content">
          Ich bin dabei, meiner Software beizubringen, meine Sprachbefehle zu
          verstehen. In der Zwischenzeit benutze ich weiterhin eine Tastatur, um
          Websites zu navigieren. Das ist weniger schmerzhaft als eine Maus zu
          nutzen.
        </div>
      </div>
    </div>
    <div class="persona-description-content-img">
      <img
        src="/images/christopher.jpg"
        alt="Image of Christopher"
        width="300"
        height="300"
      />
    </div>
  </div>
  <h4>Info und Geräte</h4>
  <p>
    Vor 10 Jahren erkrankte Christopher an rheumatoider Arthritis – eine auf
    Dauer bestehende Gelenksentzündung. Durch einen ständigen Entzündungsprozess
    in der Gelenkinnenhaut kommt es zur Zerstörung von Knorpel, Knochen und
    Bändern
  </p>
  <p>
    Er benutzt bei der Arbeit einen Desktop-Computer und eine Tastatur mit einer
    Handgelenkstütze. Er hat einige Tastenkombinationen in seine Tastatur
    programmiert und zieht diese seiner Trackball-Maus vor (die nach einer Weile
    schmerzhaft zu bedienen ist).
  </p>
  <p>
    Er hat gerade Dragon NaturallySpeaking (Spracherkennungssoftware)
    ausprobiert. Er ist der Meinung, dass diese Software gut für ihn geeignet
    ist, und er wird mehr Zeit investieren, um sie darauf zu trainieren, seine
    Stimme zu verstehen.
  </p>
  <h4>Ziele und Wünsche</h4>
  <p>
    Simone möchte jede beliebige Website nutzen können. Außerdem möchte sie
    unabhängiger werden.
  </p>
  <h4>Frustration</h4>
  <p>
    Inhalte, die von JAWS nicht gelesen werden können: Wenn etwas auf einer
    Website mit Simones Screenreader nicht funktioniert, muss sie um Hilfe
    bitten, was sie als lästig empfindet.
  </p>
  <p>
    Ihr Screenreader kann Formulare nicht lesen, wenn sie nicht richtig
    beschriftet sind. Manchmal errät sie, was sie eingeben muss, aber das macht
    sie nicht, wenn es um finanzielle Transaktionen geht, weil das zu riskant
    ist.
  </p>
  <p>
    Inhalte, die schwer zu navigieren sind: Simone benutzt eine Tastatur
    anstelle einer Maus oder eines Trackpads und ärgert sich, wenn sie sich
    durch viele Seiten durchklicken muss, bevor sie zu den gesuchten Inhalten
    gelangt.
  </p>
  <p>
    Sie findet es schwierig, schnell zu erkennen, was auf einer Seite steht,
    wenn es keine guten Überschriften gibt.
  </p>
  <h4>Dinge für Simone besser machen</h4>
  <p>
    Testen, ob alle neuen Informationen, die auf dem Bildschirm erscheinen, von
    Screenreadern vorgelesen werden – dazu gehören Fehlermeldungen,
    Fortschritts- oder Bestätigungsmeldungen.
  </p>
  <p>
    An bewährte Verfahren für die barrierefreie Gestaltung von Formularen halten
    – wir sollten sicherstellen, dass Felder beschriftet sind und von
    Screenreadern gelesen werden können.
  </p>
  <p>
    Semantische Elemente in HTML5 wie &lt;main&gt;, &lt;nav&gt;, &lt;header&gt;
    verwenden, damit Nutzer*innen über Landmarks navigieren können.
  </p>
  <p>
    Überschriften, die Nutzer*innen helfen, Informationen schnell zu finden.
    Beschreibende Links und Seitentitel bereit stellen.
  </p>
</section>
