---
tags: styleguide
title: Accessibility Persona - Pawel
layout: layouts/sidebar.njk
---

{% import "macros.njk" as macros %}

<section class="section">
  <div class="persona">
    <div class="persona-header">
      <a href="./../accessibility/"
        ><span class="material-symbols-outlined">arrow_back</span>back</a
      >
      <h2 class="heading">a11y Persona - Pawel</h2>
      <h3 class="subheading">Nutzer mit Asperger-Syndrom</h3>
      <div class="persona-description">
        <div class="persona-description-line"></div>
        <div class="persona-description-content">
          Websites können sehr ablenkend sein. Manchmal brauche ich ewig, um
          etwas zu tun, weil ich das Gefühl habe, jedes Wort lesen und jeden
          Link anklicken zu müssen.
        </div>
      </div>
    </div>
    <div class="persona-description-content-img">
      <img
        src="/images/pawel.jpg"
        alt="Image of Simone"
        width="300"
        height="300"
      />
    </div>
  </div>
  <h4>Info und Geräte</h4>
  <p>
    Er leidet am Asperger-Syndrom, einer Erkrankung des Autismus-Spektrums, die
    sich auf seine Wahrnehmung der Welt und seine Interaktion mit Menschen
    auswirkt. Vor kurzem wurde bei ihm auch eine Angststörung diagnostiziert.
  </p>
  <p>
    Pawel kennt sich gut mit Technik aus und findet meist selbst heraus, wie
    etwas funktioniert.
  </p>
  <p>
    Er hat Probleme mit der Kommunikation von Angesicht zu Angesicht, unterhält
    sich aber gerne mit Leuten in Online-Gaming-Communities. Die sozialen Medien
    hat er aufgegeben, weil ihn die vielen Kommentare beunruhigt haben.
  </p>
  <h4>Ziele und Wünsche</h4>
  <p>
    Pawel wünscht sich, dass er auf Websites leichter findet, was er braucht -
    manchmal muss er so viel lesen.
  </p>
</section>
