---
tags: styleguide
title: Accessibility Persona - Claudia
layout: layouts/sidebar.njk
---

{% import "macros.njk" as macros %}

<section class="section">
  <div class="persona">
    <div class="persona-header">
      <a href="./../accessibility/"
        ><span class="material-symbols-outlined">arrow_back</span>back</a
      >
      <h2 class="heading">a11y Persona - Claudia</h2>
      <h3 class="subheading">Nutzerin mit einer Sehbehinderung</h3>
      <div class="persona-description">
        <div class="persona-description-line"></div>
        <div class="persona-description-content">
          Mit der Zoom-Funktion für den Bildschirm kann ich das Internet wieder
          nutzen. Ich wünschte nur, mehr Unternehmen würden ihre Websites
          einfach halten.
        </div>
      </div>
    </div>
    <div class="persona-description-content-img">
      <img
        src="/images/claudia.jpg"
        alt="Image of Claudia"
        width="300"
        height="300"
      />
    </div>
  </div>
  <h4>Info und Geräte</h4>
  <p>
    Claudias Arbeitsplatz ist mit ZoomText (einer Software, mit der man den
    Bildschirm vergrößern kann), einem großen Monitor und einer gut sichtbaren
    Tastatur ausgestattet. Zu Hause hat sie eine ähnliche Einrichtung.
  </p>
  <p>
    Claudia telefoniert lieber als zu mailen und verschickt nie Textnachrichten.
    Sie nutzt die Funktion »Sprache zu Text« auf ihrem Smartphone, die eine
    Nachricht aufnimmt und an die Person sendet, die sie kontaktiert.
  </p>
  <h4>Ziele und Wünsche</h4>
  <p>Sie wünscht sich, dass Websites weniger überladen sind.</p>
</section>
