---
tags: styleguide
title: Accessibility
layout: layouts/sidebar.njk
---

{% import "macros.njk" as macros %}

<section class="section">
  <h2 class="heading">Accessibility</h2>
  <h3 class="subheading">Was ist Barrierefreiheit?</h3>
  <p>
    Nach den Accessibility
    <a href="https://accessibility.18f.gov/checklist/" target="blank"
      >Guidelines von 18F</a
    >
    ist die Barrierefreiheit einer der wichtigsten Komponenten der modernen
    Webentwicklung und sorgt dafür, dass die Inhalte für möglichst alle
    Nutzer:innen zugänglich sind.
    <br />
    Am besten kann Barrierefreiheit umgesetzt werden, wenn sie fester
    Bestandteil des agilen Entwicklungsprozesses ist und von Beginn an
    berücksichtigt wird.
  </p>
  <h3 class="subheading">Warum ist es für uns besonders wichtig?</h3>
  <p>
    Jedes Mitglied des Produktteams soll daher in unserem Team das gleiche
    Verständnis von Barrierefreiheit haben und wissen, wie und wo sie zu testen
    ist und wo Fehler adressiert werden können.
    <br />
    Folgende Kriterien nach der Kategorie A sind im MVP zu beachten und
    umzusetzen:
  </p>

  <ul>
    <li>Die Seite ist Tastaturbedienbar</li>
    <li>Die Seite hat keine Tastatur-Fallen</li>
    <li>Alle Formularfelder haben entsprechende Labels</li>
    <li>Alle Bilder haben ein Img-Tag und Alternativtext</li>
    <li>Der Text hat ausreichenden Farbkontrast</li>
    <li>
      Multimediainhalte haben entsprechende Untertitel und Audiobeschriebungen
      (für neuris im Moment nicht relevant)
    </li>
  </ul>
</section>
