---
tags: styleguide
title: Accessibility
layout: layouts/sidebar.njk
---

{% import "macros.njk" as macros %}

<section class="section">
  <h2 class="heading">Accessibility</h2>
  <h3 class="subheading">Was ist Barrierefreiheit?</h3>
  <p>
    Barrierefreiheit im Kontext digitaler Service bedeutet, allen Mitgliedern
    der Gesellschaft gleichen Zugang zu staatlichen Leistungen zu ermöglichen.
    Durch die BITV und WCAG Richtlinien ist weltweit verbindlich definiert,
    welche technischen Kriterien zu erfüllen sind, um Barrierefreiheit für
    möglichst viele Menschen zu erzielen.
  </p>
  <p>
    Am besten kann Barrierefreiheit umgesetzt werden, wenn sie fester
    Bestandteil des agilen Entwicklungsprozesses ist und von Beginn an
    berücksichtigt wird. Deshalb setzen wir während unseres gesamten
    Gestaltungs- und Entwicklungsprozess regelmäßig ein diverses Methodenset
    ein, um weitgehend sicherstellen zu können, dass wir ein hohes Maß an
    Barrierefreiheit erreichen. Die folgenden Methoden bilden die wichtigsten
    Elemente unserer a11y-Strategie und sind als feste Bestandteile in unsere
    Prozesses integriert:
  </p>
  <ul>
    <li>Automatisierte Tests der Fronten Komponenten</li>
    <li>
      Checklisten (18f) mit Prüfkriterien als Guidance für die gestalterische
      und technische Entwicklung
    </li>
    <li>Testunterstützung durch Browser Plugins</li>
    <li>Inhouse Tests anhand prototypischer Personas</li>
    <li>Externe Tests mit echten Nutzer:innen</li>
  </ul>

  <h3 class="subheading">Accessibility Personas</h3>
  <p>
    In Anlehnung an die
    <a href="https://alphagov.github.io/accessibility-personas/" target="blank"
      >Arbeit mit Personas des GDS </a
    >haben wir für unsere Arbeit vier Personas ins Deutsche übertragen. Diese
    Personas helfen uns, Szenarien-basierte inhouse Tests durchzuführen. Sie
    bieten Kontext, sowie eine technische Beschreibung, um Software und Services
    im Gesamtablauf für spezifische Zugriffsanforderungen zu testen.
  </p>
  <br />
  <p><b>Einschränkungen</b></p>
  <p>
    Persona-basierte Tests sind kein Ersatz dafür, Benutzer mit
    Zugriffsanforderungen in Ihre Benutzertests einzubeziehen.
  </p>

  <p>
    Eine Simulation ist niemals eine echte Darstellung einer Beeinträchtigung.
    Es ist nur ein Werkzeug, das versucht, manche Dinge für jemanden ohne diese
    Beeinträchtigung ungefähr genauso schwierig zu machen.
  </p>
  <ul>
    <li>
      <a href="./../a11ychristopher/"
        >Christopher - Nutzer mit rheumatoider Arthritis</a
      >
    </li>
    <li>
      <a href="./../a11yclaudia/"
        >Claudia - Nutzerin mit einer Sehbehinderung</a
      >
    </li>
    <li><a href="./../a11ypawel/">Pawel - Nutzer mit Asperger-Syndrom</a></li>
    <li><a href="./../a11ysimone/">Simone - Screenreader-Nutzerin</a></li>
  </ul>
</section>
