---
tags: styleguide
title: Icons
layout: layouts/sidebar.njk
---

{% import "macros.njk" as macros %}

<section class="section">
  <h2 class="heading">Icons</h2>
  <p class="subheading">
    Icons sind die
    <span class="subheading-invers">visuelle Repräsentation</span> von Aktionen,
    Einheiten oder Daten. Sie werden eingesetzt um visuelle
    <span class="subheading-invers">Orientierung</span>
    zu bieten und Inhalte und Strukturen schneller erfassen zu können.
  </p>
</section>

<section class="section-grey">
  <h3 class="subheading">Eingesetzte Icons</h3>
  <p>
    Um den Aufwand bei der Entwicklung unseres Design Systems möglichst effektiv
    zu gestalten, haben wir uns für den Einsatz einer bestehenden Icon Library
    entschieden: den
    <a href="https://fonts.google.com/icons" target="blank"
      >Google Material Icons</a
    >.
  </p>
  <div>
    <a href="https://fonts.google.com/icons" target="blank"
      ><img src="/images/MaterialDesignLogo.jpg" width="206px" height="48px"
    /></a>
  </div>
  <h4 class="sectionsubheading">Vorteile</h4>
  <p>
    Die Google Material Icons Library beinhaltet eine große Bandbreite an
    gängigen Icons für viele Einsatzgebiete. Die Icons wurden dank hoher
    Nutzungszahlen ausgiebig getestet und bieten eine hohe Qualität hinsichtlich
    Erkennbarkeit und Ergonomie.
  </p>

  <h4 class="sectionsubheading">Einbinden der Icons</h4>
  <p>Die Icons können einfach als statischer Font eingebettet werden.</p>

  <pre>
&lt;link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" /&gt;
    </pre
  >
  Einzelne Icons werden über den
  <span>
    Tag in html eingefügt
    <pre>
 &lt;span class="material-symbols-outlined" &gt;search &lt;/span &gt;</pre
    >
    Genauere Informationen finden sich auf dem
    <a
      href="https://developers.google.com/fonts/docs/material_symbols"
      target="blank"
    >
      Material Font Developer Guide
    </a>
    <a
      href="https://developers.google.com/fonts/docs/material_symbols"
      target="blank"
      ><img src="/images/DevGuideLogo.jpg" width="108px" height="108px"
    /></a>

    <h4 class="sectionsubheading">Einbindung in Design Vorlagen</h4>
    <p>
      Ein umfassender Design Guide beschreibt den vorgesehenen Einsatz der
      Icons. Zudem gibt es ein Figma Plugin zur schnellen Einbindung in
      <a
        href="https://www.figma.com/community/plugin/1088610476491668236/Material-Symbols"
        target="blank"
        >Figma Design Vorlagen</a
      >.
      <a
        href="https://www.figma.com/community/plugin/1088610476491668236/Material-Symbols"
        target="blank"
        ><img src="/images/FigmaPluginLogo.jpg" width="108px" height="108px"
      /></a>
    </p>

    <h4 class="sectionsubheading">Erweiterbarkeit</h4>
    <p>
      Individuelle Erweiterungen durch eigene Icons werden unterstützt. Die
      grundlegenden Design-Prinzipien zur Erstellung neuer Icons sind
      dokumentiert und eine
      <a
        href="https://m3.material.io/styles/icons/designing-icons#8754553f-29d9-4671-b163-123b8e7b8f1e"
        target="blank"
        >Template Datei</a
      >
      basierend auf Adobe Illustrator ist online verfügbar..
      <a href="https://m3.material.io/styles/icons/overview" target="blank"
        ><img src="/images/DesignGuideLogo.jpg" width="108px" height="108px"
      /></a>
    </p>
  </span>
</section>
