:root {
  --font-sans: "BundesSansWeb", "Calibri", "Verdana", "Arial", "Helvetica",
    sans-serif;
  --font-serif: "BundesSerifWeb", "Cambria", "Georgia", "Times New Roman", serif;
  --font-condensed: "BundesSansCondWeb", "Calibri", "Verdana", "Arial",
    "Helvetica", sans-serif;
  --font-base: var(--font-sans);
  --s1: 1.5rem;
  --stack-space: var(--s1);
  --step-0: 1rem;
  --color-base-blue-800: #004b76;
  --color-base-gray-600: #b8bdc3;
  --color-base-red-200: #f9e5ec;
  --color-base-red-800: #b0243f;
  --color-ui-primary: var(--color-base-blue-800);
  --color-ui-disabled: var(--color-base-gray-600);
}

// html {
//   -moz-text-size-adjust: none;
//   -webkit-text-size-adjust: none;
//   text-size-adjust: none;
// }

html {
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-base);
  line-height: 1.5;
  min-height: 100vh;
}

.font-serif {
  font-family: var(--font-serif);
}

.font-condensed {
  font-family: var(--font-condensed);
}

.font-bold {
  font-weight: bold;
}

.font-normal {
  font-weight: normal;
}

body,
p {
  margin: 0;
}

button,
input,
select,
textarea {
  font: inherit;
}

li,
p {
  max-width: 50ch;
}

h1,
h2,
h3,
h4 {
  max-width: 20ch;
}

img,
picture {
  display: block;
  max-width: 100%;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
}
