@use "mixins/a11y";

.ds-input,
input[type="text"]:not([class]) {
  display: block;
  width: 100%;
  height: 4rem;
  padding: 0 1.5rem;
  box-shadow: inset 0 0 0 2px var(--color-ui-primary);
  background-color: white;
  outline: 0;
  border: none;
}

.ds-input:read-only,
input[type="text"]:not([class]):read-only {
  box-shadow: none !important;
}

.ds-input:disabled,
input[type="text"]:not([class]):disabled {
  box-shadow: inset 0 0 0 2px var(--color-ui-disabled) !important;
  color: var(--color-ui-disabled);
  cursor: not-allowed;
}

.ds-input.has-error {
  box-shadow: inset 0 0 0 2px var(--color-ui-error);
  background-color: var(--color-base-red-200);
}

.ds-input:focus,
.ds-input:hover,
input[type="text"]:not([class]):focus,
input[type="text"]:not([class]):hover {
  box-shadow: inset 0 0 0 4px var(--color-ui-primary);
}

/* stylelint-disable selector-no-vendor-prefix */
::-webkit-input-placeholder {
  font-family: BundesSerifWeb, serif;
  font-style: italic;
  color: var(--color-base-gray-800);
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-family: BundesSerifWeb, serif;
  font-style: italic;
  color: var(--color-base-gray-800);
}

:-ms-input-placeholder {
  /* IE 10+ */
  font-family: BundesSerifWeb, serif;
  font-style: italic;
  color: var(--color-base-gray-800);
}

:-moz-placeholder {
  /* Firefox 18- */
  font-family: BundesSerifWeb, serif;
  font-style: italic;
  color: var(--color-base-gray-800);
}
/* stylelint-enable selector-no-vendor-prefix */

.ds-input-medium {
  height: 3rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.ds-input-small {
  height: 2.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
