@use "mixins/a11y";

$ring-radius: 1.25rem;
$ring-diameter: $ring-radius * 2;
$dot-radius: 0.75rem;

.ds-input {
  padding: 17px 24px;
  border: 2px;
  border-style: solid;
  border-color: var(--color-ui-primary);
  display: block;
  margin-top: 5px;
}

.ds-input[focus] {
  border: 4px;
  border-style: solid;
  border-color: var(--color-ui-primary);
  background-color: white;
}

.ds-input[hover] {
  border: 4px;
  border-style: solid;
  border-color: var(--color-ui-primary);
  background-color: white;
}

.ds-input[error] {
  border-color: var(--color-base-red-800);
  background-color: var(--color-base-red-200);
}

.ds-input[read-only] {
  border: none;
  background-color: white;
}

.ds-input[disabled] {
  border-color: var(--color-ui-disabled);
  background-color: white;
  color: var(--color-ui-disabled);
}
