@use "mixins/a11y";

.ds-input {
  padding: 17px 24px;
  border: 2px;
  border-style: solid;
  border-color: var(--color-ui-primary);
  display: block;
  margin-top: 5px;

  &__error {
    border-color: var(--color-base-red-800);
    background-color: var(--color-base-red-200);
  }
}

.ds-input:focus {
  box-shadow: inset 0 0 0 2px var(--color-ui-primary);
  background-color: white;
}

.ds-input:focus-visible {
  outline: 0;
}

.ds-input:hover {
  box-shadow: inset 0 0 0 2px var(--color-ui-primary);
  background-color: white;
}

.ds-input:active {
  box-shadow: inset 0 0 0 2px var(--color-ui-primary);
  background-color: white;
}

.ds-input:read-only {
  border: none;
  background-color: white;

  &.ds-input:focus {
    box-shadow: none;
  }

  &.ds-input:hover {
    box-shadow: none;
  }

  &.ds-input:active {
    box-shadow: none;
  }
}

.ds-input:disabled {
  box-shadow: inset 0 0 0 2px var(--color-ui-disabled);
  background-color: white;
  color: var(--color-ui-disabled);

  &.ds-input:focus {
    box-shadow: inset 0 0 0 2px var(--color-ui-disabled);
  }

  &.ds-input:hover {
    box-shadow: inset 0 0 0 2px var(--color-ui-disabled);
  }

  &.ds-input:active {
    box-shadow: inset 0 0 0 2px var(--color-ui-disabled);
  }
}
