@use "mixins/a11y";

.heading {
  color: #00f;
}

.subheading {
  color: #00f;
}

.section {
  padding: 2.25rem;
  margin-bottom: 2.75rem;

  &-grey {
    @extend %section;

    background-color: #fbfbfb;
  }

  p {
    max-width: max-content;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  margin-top: 2.75rem;
  gap: 10%;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}
