---
title: Angie
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} | Angie</title>
    <link rel="stylesheet" href="/fonts.css" />
    <link rel="stylesheet" href="/headstart.css" />
    <link rel="stylesheet" href="/docs.css" />
    <link rel="stylesheet" href="/prism.css" />
    <script src="/headstart.js" defer async></script>
    <script src="/prism.js"></script>
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>
