/* BundesSans */
@font-face {
  font-family: "BundesSansWeb";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("assets/fonts/BundesSansWeb-Regular.woff2") format("woff2"),
    url("assets/fonts/BundesSansWeb-Regular.woff") format("woff");
}

@font-face {
  font-family: "BundesSansWeb";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("assets/fonts/BundesSansWeb-Italic.woff2") format("woff2"),
    url("assets/fonts/BundesSansWeb-Italic.woff") format("woff");
}

@font-face {
  font-family: "BundesSansWeb";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("assets/fonts/BundesSansWeb-Bold.woff2") format("woff2"),
    url("assets/fonts/BundesSansWeb-Bold.woff") format("woff");
}

@font-face {
  font-family: "BundesSansWeb";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("assets/fonts/BundesSansWeb-BoldItalic.woff2") format("woff2"),
    url("assets/fonts/BundesSansWeb-BoldItalic.woff") format("woff");
}

/* BundesSerif */
@font-face {
  font-family: "BundesSerifWeb";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("assets/fonts/BundesSerifWeb-Regular.woff2") format("woff2"),
    url("assets/fonts/BundesSerifWeb-Regular.woff") format("woff");
}

@font-face {
  font-family: "BundesSerifWeb";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("assets/fonts/BundesSerifWeb-Italic.woff2") format("woff2"),
    url("assets/fonts/BundesSerifWeb-Italic.woff") format("woff");
}

@font-face {
  font-family: "BundesSerifWeb";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("assets/fonts/BundesSerifWeb-Bold.woff2") format("woff2"),
    url("assets/fonts/BundesSerifWeb-Bold.woff") format("woff");
}

@font-face {
  font-family: "BundesSerifWeb";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("assets/fonts/BundesSerifWeb-BoldItalic.woff2") format("woff2"),
    url("assets/fonts/BundesSerifWeb-BoldItalic.woff") format("woff");
}

/* BundesSans Condensed */
@font-face {
  font-family: "BundesSansCondWeb";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("assets/fonts/BundesSansCondWeb.woff2") format("woff2"),
    url("assets/fonts/BundesSansCondWeb.woff") format("woff");
}

/* Inter Font for Styleguide */
@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter-Regular.ttf") format("ttf"),
    url("assets/fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter-Light.ttf") format("ttf"),
    url("assets/fonts/Inter-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter-Medium.ttf") format("ttf"),
    url("assets/fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter-SemiBold.ttf") format("ttf"),
    url("assets/fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter-Bold.ttf") format("ttf"),
    url("assets/fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
