---
title: Index
layout: layouts/default.njk
---

<main style="padding: 1rem">
  <h1>
    Angie<span style="font-weight: normal">.css</span>
  </h1>
  <ul>
    {%- for playground in collections.playground -%}
    <li>
      <a
        href="{{ playground.url | url }}"
        style="color: black; text-decoration: none"
        >{{ playground.data.title }}</a
      >
    </li>
    {%- endfor -%}
  </ul>
  <h3>Styleguide</h3>
  <ul>
    {%- for styleguide in collections.styleguide -%}
    <li>
      <a
        href="{{ styleguide.url | url }}"
        style="color: black; text-decoration: none"
        >{{ styleguide.data.title }}</a
      >
    </li>
    {%- endfor -%}
  </ul>
</main>
