name: Release to npm

on:
  # manual
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org
          scope: "@digitalservice4germany"
      - run: npm ci --ignore-scripts
      - run: npm run build
      - run: cp package.json LICENSE README.md ./dist/
      - run: cd dist && npx --package semantic-release@beta semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
